<!doctype html>
<meta charset='utf-8' />
<head>
<title>Editor</title>
<link rel="stylesheet" href="/static/libs/fontawesome.min.css">
<link rel="stylesheet" href="/static/libs/bulma.min.css">
<script src="/static/libs/popper.min.js"></script>
<script src="/static/libs/tippy-bundle.umd.js"></script>
<script src="/static/libs/vue.js"></script>
<style>
html {
    overflow-y: auto;
}
body {
    padding: 0;
    margin: 0;
}
div {
    box-sizing: border-box;
}
.dashboard {
    display: flex;
    flex-direction: column;
}
.source-toolbar {
    display: flex;
    flex-direction: row;
}
.source-toolbar > div {
    padding: 4px;
}
.player-area {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    /* min-width: 0px; */
    background-color: #000;
}
.player-area video {
    flex: 1 1 0;
    margin: 0 auto;
    height: 100px;
}
.controls-area {
    display: flex;
    justify-content: center;
    padding: 8px;
}
.controls-group {
    align-self: center;
}
.caption-under-icon .button {
    /* height: 4em; */
    flex-direction: column;
}
.caption-under-icon .button > .caption {
    font-size: 80%;
    margin: -3px 5px;
}
</style>
<script src='/static/components.js'></script>
<script src='/static/timeline.js'></script>
<script src='/static/editor.js'></script>
<!-- component templates -->
<script type='text/template' id='base-modal-template'>
    <div class='modal is-active' v-show='isShown'>
        <div class='modal-background'></div>
        <div class='modal-content'>
            <slot></slot>
        </div>
        <button class='modal-close is-large' v-on:click='close()'></button>
    </div>
</script>
<script type='text/template' id='cut-mode-selector'>
    <div class='control'>
        <div class='select'>
            <select v-bind:disabled='disabled' v-bind:value='value' v-on:input='$emit("input", $event.target.value)'>
                <option value='both'>Keep both streams</option>
                <option value='audio'>Audio Only</option>
                <option value='video'>Video Only</option>
            </select>
        </div>
    </div>
</script>
<script type='text/template' id='cut-form'>
    <div class='box content'>
        <h2>Cut video</h2>
        <div v-show='stage == "describe"'>
            <div class='field is-grouped'>
                <div class='control'>
                    <label class='label'>Start</label>
                    <input class='input' readonly v-bind:value='startf' />
                </div>
                <div class='control'>
                    <label class='label'>End</label>
                    <input class='input' readonly v-bind:value='endf' />
                </div>
            </div>
            <div class='field'>
                <div class='control'>
                    <label class='label'>Short video description</label>
                    <textarea class='textarea' v-model='description'></textarea>
                </div>
            </div>
            <div class='buttons'>
                <button class='button is-primary' v-on:click='startProcessing'>Start</button>
                <button class='button is-danger' v-on:click='$emit("close")'>Close</button>
            </div>
        </div>
        <div v-show='stage == "process"'>
            <div class='notification is-danger' v-if='error != null'>Error during processing: {{ error }}</div>
            <progress class='progress is-primary' v-bind:class='{"is-danger": error != null}' min='0' max='100' v-bind:value='progressRound'>{{ progressRound }}%</progress>
            <button class='button is-danger' v-on:click='cancelProcessing'>Cancel</button>
        </div>
        <div v-show='stage == "done"'>
            <div class='field'>
                <div class='control'>
                    <label>Link to player</label>
                    <input id='shareVideoLink' type='text' class='input' v-bind:value='shareLink' v-on:click='copyShareLink' readonly />
                </div>
            </div>
            <div class='buttons'>
                <a v-bind:href='downloadLink' v-bind:download='outputName' class='button is-primary'>Download result video</a>
                <button class='button is-danger' v-on:click='$emit("close")'>Close</button>
            </div>
        </div>
    </div>
</script>
<!-- component templates -->
</head>
<body>
    <div id='app'>
        <div class='dashboard'>
            <div class='navbar is-dark'>
                <div class='navbar-menu is-active'>
                    <div class='navbar-start'>
                        <a class='navbar-item' href='/'>&larr; Back to sources</a>
                    </div>
                </div>
            </div>
            <div class='source-toolbar has-background-light'>
                <div class='toolbar-left'>
                    <div class='field has-addons'>
                        <div class='control'>
                            <div class='select is-small'>
                                <select id='sourceSelector' v-model='selectedSource'>
                                    <option v-for='item in sources' v-bind:value='item.id'>{{ item.title }}</option>
                                </select>
                            </div>
                        </div>
                        <div class='control'>
                            <button class='button is-small' id='sourceRefresh'>Refresh</button>
                        </div>
                        <div class='control'>
                            <button class='button is-small' id='sourceLoadBtn'>Load</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='player-area'>
                <video id='editorPlayer' ref='player'></video>
            </div>
            <div class='controls-area has-background-light'>
                <div class='controls-group'>
                    <div class='field has-addons px-2'>
                        <div class='control'>
                            <button class='button is-small is-dark' title='To selection start' v-on:click='jumpToStart'>
                                <i class="fas fa-step-backward"></i>
                            </button>
                        </div>
                        <div class='control'>
                            <button class='button is-small is-dark' title='Back 10m' v-on:click='jump(-600)'>
                                <i class='fas fa-angle-double-left' style='margin-right: -0.2ex'></i>
                                <i class='fas fa-angle-double-left'></i>
                            </button>
                        </div>
                        <div class='control'>
                            <button class='button is-small is-dark' title='Back 1m' v-on:click='jump(-60)'>
                                <i class='fas fa-angle-double-left' style='margin-right: -0.2ex'></i>
                                <i class='fas fa-angle-left'></i>
                            </button>
                        </div>
                        <div class='control'>
                            <button class='button is-small is-dark' title='Back 10s' v-on:click='jump(-10)'>
                                <i class='fas fa-angle-double-left'></i>
                            </button>
                        </div>
                        <div class='control'>
                            <button class='button is-small is-dark' title='Back 1s' v-on:click='jump(-1)'>
                                <i class='fas fa-angle-left'></i>
                            </button>
                        </div>
                        <div class='control'>
                            <button class='button is-small is-dark' title='Play/pause' v-on:click='togglePlay'>
                                <i class='fas fa-pause' v-if='isPlaying'></i>
                                <i class='fas fa-play' v-else></i>
                            </button>
                        </div>
                        <div class='control'>
                            <button class='button is-small is-dark' title='Forward 1s' v-on:click='jump(1)'>
                                <i class='fas fa-angle-right'></i>
                            </button>
                        </div>
                        <div class='control'>
                            <button class='button is-small is-dark' title='Forward 10s' v-on:click='jump(10)'>
                                <i class='fas fa-angle-double-right'></i>
                            </button>
                        </div>
                        <div class='control'>
                            <button class='button is-small is-dark' title='Forward 1m' v-on:click='jump(60)'>
                                <i class='fas fa-angle-right'></i>
                                <i class='fas fa-angle-double-right' style='margin-left: -0.2ex'></i>
                            </button>
                        </div>
                        <div class='control'>
                            <button class='button is-small is-dark' title='Forward 10m' v-on:click='jump(600)'>
                                <i class='fas fa-angle-double-right'></i>
                                <i class='fas fa-angle-double-right' style='margin-left: -0.2ex'></i>
                            </button>
                        </div>
                        <div class='control'>
                            <button class='button is-small is-dark' title='To selection end' v-on:click='jumpToEnd'>
                                <i class='fas fa-step-forward'></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class='controls-group'>
                    <div class='field has-addons px-2'>
                        <div class='control'>
                            <button class='button is-small is-dark' v-bind:class='{"is-danger": isMuted}' title='Mute/Unmute' v-on:click='toggleMute'>
                                <i class='fas fa-volume-mute' v-if='isMuted'></i>
                                <i class='fas fa-volume-up' v-else></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class='controls-group'>
                    <div class='field has-addons px-2'>
                        <div class='control'>
                            <button class='button is-small is-dark' title='Selection start' v-on:click='setSelectionStart'>
                                <i class='fas fa-quote-left'></i>
                            </button>
                        </div>
                        <div class='control'>
                            <button class='button is-small is-dark' title='Reset selection' v-on:click='resetSelection'>
                                <i class='fas fa-window-close'></i>
                            </button>
                        </div>
                        <div class='control'>
                            <button class='button is-small is-dark' title='Selection end' v-on:click='setSelectionEnd'>
                                <i class='fas fa-quote-right'></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class='controls-group'>
                    <div class='field has-addons px-2'>
                        <div class='control'>
                            <button class='button is-small is-dark' title='Zoom In' v-on:click='timelineZoomIn'>
                                <i class='fas fa-search-plus'></i>
                            </button>
                        </div>
                        <div class='control'>
                            <button class='button is-small is-dark' title='Zoom Out' v-on:click='timelineZoomOut'>
                                <i class='fas fa-search-minus'></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class='controls-group px-2'>
                    <div class='field is-grouped'>
                        <div class='control' style='align-self: center'>
                            Start:
                        </div>
                        <div class='control'>
                            <input type='text' class='input is-static' v-bind:value="formattedStart" size='6' readonly>
                        </div>
                        <div class='control' style='align-self: center'>
                            End:
                        </div>
                        <div class='control'>
                            <input type='text' class='input is-static' v-bind:value="formattedEnd" size='6' readonly>
                        </div>
                    </div>
                </div>
                <div class='controls-group'>
                    <div class='field has-addons'>
                        <cut-mode-selector v-model='cutMode' v-bind:disabled='audioOnly' ref='cutSelector'></cut-mode-selector>
                        <div class='control'>
                            <button class='button is-primary' v-on:click='startCutting' title='Cut'>
                                <i class='fas fa-crop-alt'></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='timeline-area'>
                <canvas id='editorTimeline' height='200' ref='timelineCanvas'></canvas>
            </div>
        </div>
        <bulma-modal v-bind:is-shown='processingDialogVisible' v-on:close='processingDialogVisible = false'>
            <video-cut-form
                v-bind:source='selectedSource'
                v-bind:start='selectionStart'
                v-bind:end='selectionEnd'
                v-bind:mode='cutMode'
                v-on:close='processingDialogVisible = false'
                ></video-cut-form>
        </bulma-modal>
    </div>
</body>
