<!doctype html>
<meta charset='utf-8' />
<head>
<title>Editor</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<style>
html {
    overflow-y: auto;
}
body {
    padding: 0;
    margin: 0;
}
div {
    box-sizing: border-box;
}
.dashboard {
    display: flex;
    flex-direction: column;
}
.source-toolbar {
    display: flex;
    flex-direction: row;
}
.source-toolbar > div {
    padding: 4px;
}
.player-area {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    /* min-width: 0px; */
    background-color: #000;
}
.player-area video {
    flex: 1 1 0;
    margin: 0 auto;
    height: 100px;
}
.controls-area {
    display: flex;
    justify-content: center;
    padding: 8px;
}
.controls-group {
    align-self: center;
}
</style>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src='/static/components.js'></script>
<script src='/static/timeline.js'></script>
<script src='/static/editor.js'></script>
<!-- component templates -->
<script type='text/template' id='base-modal-template'>
    <div class='modal is-active' v-show='isShown'>
        <div class='modal-background'></div>
        <div class='modal-content'>
            <slot></slot>
        </div>
        <button class='modal-close is-large' v-on:click='close()'></button>
    </div>
</script>
<script type='text/template' id='cut-mode-selector'>
    <div class='control'>
        <div class='select'>
            <select v-bind:value='value' v-on:input='$emit("input", $event.target.value)'>
                <option value='both'>Keep both streams</option>
                <option value='audio'>Audio Only</option>
                <option value='video'>Video Only</option>
            </select>
        </div>
    </div>
</script>
<!-- component templates -->
</head>
<body>
    <div id='app'>
        <div class='dashboard'>
            <div class='navbar is-dark'>
                <div class='navbar-menu is-active'>
                    <div class='navbar-start'>
                        <a class='navbar-item' href='/'>Back to sources list</a>
                        <a class='navbar-item' href='/results'>To processed videos</a>
                    </div>
                </div>
            </div>
            <div class='source-toolbar has-background-light'>
                <div class='toolbar-left'>
                    <div class='field has-addons'>
                        <div class='control'>
                            <div class='select is-small'>
                                <select id='sourceSelector' v-model='selectedSource'>
                                    <option v-for='item in sources' v-bind:value='item.id'>{{ item.title }}</option>
                                </select>
                            </div>
                        </div>
                        <div class='control'>
                            <button class='button is-small' id='sourceRefresh'>Refresh</button>
                        </div>
                        <div class='control'>
                            <button class='button is-small' id='sourceLoadBtn'>Load</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='player-area'>
                <video id='editorPlayer'></video>
            </div>
            <div class='controls-area has-background-light'>
                <div class='controls-group'>
                    <div class='field has-addons px-2'>
                        <div class='control'>
                            <button class='button is-small is-dark' id='controlsSeekStart' title='To selection start'>
                                <i class="fas fa-step-backward"></i>
                            </button>
                        </div>
                        <div class='control'>
                            <button class='button is-small is-dark' id='controlsPlay' title='Play/pause'>
                                <i class='fas fa-pause' v-if='isPlaying'></i>
                                <i class='fas fa-play' v-else></i>
                            </button>
                        </div>
                        <div class='control'>
                            <button class='button is-small is-dark' id='controlsSeekEnd' title='To selection end'>
                                <i class='fas fa-step-forward'></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class='controls-group'>
                    <div class='field has-addons px-2'>
                        <div class='control'>
                            <button class='button is-small is-dark' v-bind:class='{"is-danger": isMuted}' title='Mute/Unmute' v-on:click='toggleMute'>
                                <i class='fas fa-volume-mute' v-if='isMuted'></i>
                                <i class='fas fa-volume-up' v-else></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class='controls-group'>
                    <div class='field has-addons px-2'>
                        <div class='control'>
                            <button class='button is-small is-dark' id='controlsCutStart' title='Selection start'>
                                <i class='fas fa-quote-left'></i>
                            </button>
                        </div>
                        <div class='control'>
                            <button class='button is-small is-dark' id='controlsCutReset' title='Reset selection'>
                                <i class='fas fa-window-close'></i>
                            </button>
                        </div>
                        <div class='control'>
                            <button class='button is-small is-dark' id='controlsCutEnd' title='Selection end'>
                                <i class='fas fa-quote-right'></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class='controls-group'>
                    <div class='field has-addons px-2'>
                        <div class='control'>
                            <button class='button is-small is-dark' id='controlsZoomIn' title='Zoom In'>
                                <i class='fas fa-search-plus'></i>
                            </button>
                        </div>
                        <div class='control'>
                            <button class='button is-small is-dark' id='controlsZoomOut' title='Zoom Out'>
                                <i class='fas fa-search-minus'></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class='controls-group px-2'>
                    <div class='field is-grouped'>
                        <div class='control' style='align-self: center'>
                            Start:
                        </div>
                        <div class='control'>
                            <input type='text' class='input is-static' v-bind:value="selectionStart" size='6' readonly>
                        </div>
                        <div class='control' style='align-self: center'>
                            End:
                        </div>
                        <div class='control'>
                            <input type='text' class='input is-static' v-bind:value="selectionEnd" size='6' readonly>
                        </div>
                    </div>
                </div>
                <div class='controls-group'>
                    <div class='field has-addons'>
                        <cut-mode-selector v-model='cutMode' ref='cutSelector'></cut-mode-selector>
                        <div class='control'>
                            <button class='button is-primary' v-on:click='startCutting'>
                                <i class='fas fa-crop-alt'></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class='timeline-area'>
                <canvas id='editorTimeline' height='200' ref='timelineCanvas'></canvas>
            </div>
        </div>
        <bulma-modal v-bind:is-shown='processingDialogVisible' v-on:close='processingDialogVisible = false'>
            <div class='box content'>
                <h2>Processing video</h2>
                <div v-show='downloadLink == null'>
                    <progress class='progress is-primary' min='0' max='100' v-bind:value='processingProgress'>{{ processingProgress }}%</progress>
                    <button class='button is-danger' v-on:click='cancelProcessing'>Cancel</button>
                </div>
                <div v-show='downloadLink != null'>
                    <div class='buttons'>
                        <a v-bind:href='downloadLink' v-bind:download='outputName' class='button is-primary'>Download result video</a>
                        <button class='button is-danger' v-on:click='processingDialogVisible = false'>Close</button>
                    </div>
                </div>
            </div>
        </bulma-modal>
    </div>
</body>
