<!doctype html>
<meta charset='utf-8' />
<title>Video sources</title>
<style></style>
<link rel="stylesheet" href="/static/libs/bulma.min.css">
<script src="/static/libs/vue.js"></script>
<script src='/static/upload.js'></script>
<script src='/static/components.js'></script>
<div class='navbar is-dark'>
    <div class='navbar-menu is-active'>
        <div class='navbar-start'>
            <div class='navbar-item'>
                <button class='button is-dark' onclick='modals.uploadDialog = true'>Upload from computer</button>
            </div>
            <div class='navbar-item'>
                <button class='button is-dark' onclick='modals.ytDownloadDialog = true'>Download from YT</button>
            </div>
        </div>
        <div class='navbar-end'>
            <a class='navbar-item' href='/edit'>Editor</a>
            <a class='navbar-item' href='/results'>Processed videos</a>
        </div>
    </div>
</div>
<div class='container is-fluid'>

    <table class='table is-fullwidth' id='sourcesList'>
        <thead>
            <tr>
                <th>Source name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tr v-for='item in sources'>
            <td>{{ item.title }}</td>
            <td>
                <span class='tag' v-bind:class='{ "is-danger": item.status == "FAILED", "is-success": item.status == "COMPLETED", "is-warning": item.status == "INACTIVE" }'>{{ item.status }}</span>
            </td>
            <td>
                <div  class='buttons are-small'>
                    <a :href='"/edit?video=" + item.id' class='button'>Edit</a>
                    <button class='button is-danger' v-on:click='deleteVideo(item.id)'>Remove</button>
                </div>
            </td>
        </tr>
    </table>
</div>

<script type='text/template' id='base-modal-template'>
    <div class='modal is-active' v-show='isShown'>
        <div class='modal-background'></div>
        <div class='modal-content'>
            <slot></slot>
        </div>
        <button class='modal-close is-large' v-on:click='close()'></button>
    </div>
</script>

<script type='text/template' id='upload-modal-template'>
    <bulma-modal v-bind:is-shown='dialogShown' v-on:close='$emit("close")'>
        <div class='box content'>
            <h2>Upload from local disk</h2>
            <div class='notification is-warning p2' v-show='errorMessage != null'>
                <button class='delete' v-on:click='errorMessage = null'></button>
                {{ errorMessage }}
            </div>
            <div class='field'>
                <div class='file has-name'>
                    <label class='file-label'>
                        <input class='file-input' type='file' v-on:change='setUploadFile' />
                        <span class='file-cta'>
                            <span class='file-label'>Choose file</span>
                        </span>
                        <span class='file-name'>{{ filename }}</span>
                    </label>
                </div>

            </div>
            <progress class='progress is-small' max='100' v-bind:value='progress' v-show='isStarted'></progress>
            <div class='buttons is-right'>
                <button class='button is-text' type='button' v-on:click='$emit("close")'>Cancel</button>
                <button class='button is-primary' type='button' v-on:click='submitUpload'>Upload</button>
            </div>
        </div>
    </bulma-modal>
</script>

<script type='text/template' id='yt-download-modal-template'>
    <bulma-modal v-bind:is-shown='mainDialog' v-on:close='$emit("close")'>
        <div class='box content yt-download-form'>
            <h2>Download from YT</h2>
            <div class='notification is-warning' v-show='errorMessage != null'>
                <button class='delete' v-on:click='errorMessage = null'></button>
                {{ errorMessage }}
            </div>
            <div v-show='stage == 1'>
                <div class='field'>
                    <label class='label'>Link to YT video</label>
                    <div class='control'>
                        <input class='input' type='text' v-model='downloadLink'>
                    </div>
                </div>
                <div class='buttons is-right'>
                    <button class='button is-text' type='button' v-on:click='$emit("close")'>Cancel</button>
                    <button class='button is-primary' type='button' v-on:click='fetchFormats'>Next</button>
                </div>
            </div>
            <div v-show='stage == 2'>
                <div class='menu'>
                    <p class='menu-label'>Available formats</p>
                    <ul class='menu-list'>
                        <select class="form-control"  @change="changeFormatAvailable($event)">
                            <option :value="availableFormats.best_format_id" selected>
                                {{ availableFormats.best_format }} [{{ availableFormats.best_ext }}]
                            </option>
                            <option v-for="format in availableFormats.info" :value="format.format_id">
                                    {{ format.quality }} [{{ format.ext }}]
                            </option>
                        </select>
                        <p><span>Selected format: {{formatAvailable}}</span></p>
                    </ul>
                </div>
                <div class='buttons is-right'>
                    <button class='button is-text' type='button' v-on:click='$emit("close")'>Cancel</button>
                    <a class='button' type='button' v-on:click='submitDownload(formatAvailable)'>Submit</a>
                </div>
            </div>
            <div v-show='stage == 3'>
                <progress class='progress is-primary' min='0' max='100' v-bind:value="progress">{{ progress }}</progress>
                <button class='button is-danger' v-on:click='cancelDownload()'>Cancel</button>
            </div>
            <div v-show='stage == 4'>
                <a class='button' v-bind:href='"/edit?video=" + videoId'>Edit video</a>
            </div>
        </div>
    </bulma-modal>
</script>

<div id='modals'>
    <upload-modal
        upload-url='/api/upload'
        v-bind:is-shown='uploadDialog'
        v-on:submit-upload='submitUpload'
        v-on:close='uploadDialog = false'
    ></upload-modal>
    <yt-download-modal
        v-bind:is-shown='ytDownloadDialog'
        v-on:download-completed='downloadCompleted'
        v-on:download-canceled='downloadCanceled'
        v-on:close='ytDownloadDialog = false'
    ></yt-download-modal>
</div>
