<!doctype html>
<meta charset='utf-8' />
<title>Video sources</title>
<style></style>
<link rel="stylesheet" href="/static/libs/bulma.min.css">
<script src="/static/libs/vue.js"></script>
<script src="/static/libs/popper.min.js"></script>
<script src="/static/libs/tippy-bundle.umd.js"></script>
<script src='/static/upload.js'></script>
<script src='/static/components.js'></script>
<div class='navbar is-dark'>
    <div class='navbar-menu is-active'>
        <div class='navbar-start'>
            <div class='navbar-item'>
                <button class='button is-dark' onclick='modals.uploadDialog = true'>Upload from computer</button>
            </div>
            <div class='navbar-item'>
                <button class='button is-dark' onclick='modals.ytDownloadDialog = true'>Download from YT</button>
            </div>
            <div class="navbar-item">
                <a href="/record" class="button is-dark">Record</a>
            </div>
        </div>
        <div class='navbar-end'>
            <a class='navbar-item' href='/edit'>Editor</a>
        </div>
    </div>
</div>
<div class='container is-fluid' id='sourcesList'>
    <div class='navbar'>
        <div class='navbar-item'>
            <div class='dropdown' v-bind:class='{ "is-active": showTypeFilter }'>
                <div class='dropdown-trigger'>
                    <button class='button' v-on:click='showTypeFilter = !showTypeFilter'>Filter videos by type</button>
                </div>
                <div class='dropdown-menu'>
                    <div class='dropdown-content'>
                        <div class='dropdown-item'>
                            <label class='checkbox'>
                                <input type='checkbox' value='sources' v-model='showTypes' />
                                Sources
                            </label>
                        </div>
                        <div class='dropdown-item'>
                            <label class='checkbox'>
                                <input type='checkbox' value='clips' v-model='showTypes' />
                                Clips
                            </label>
                        </div>
                        <div class='dropdown-item'>
                            <label class='checkbox'>
                                <input type='checkbox' value='records' v-model='showTypes' />
                                Records
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class='table is-fullwidth'>
        <thead>
            <tr>
                <th>Type</th>
                <th>Description</th>
                <th>Status</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <!-- sources -->
        <tr v-for='item in sources' v-if='showTypes.includes("sources")'>
            <td><span class='tag is-info'>Source</span></td>
            <td>{{ item.title }}</td>
            <td>
                <span class='tag' v-bind:class='{ "is-danger": item.status == "FAILED", "is-success": item.status == "COMPLETED", "is-warning": item.status == "INACTIVE" }'>{{ item.status }}</span>
            </td>
            <td>
                <div v-if="item.status=='COMPLETED'">
                    <span>{{item.task_end}}</span>
                </div>
                <div v-else>
                    <span>{{ item.task_begin }}</span>
                </div>
            </td>
            <td>
                <div  class='buttons has-addons are-small'>
                    <a :href='"/files/uploads/"+item.filename' download class='button'>Download</a>
                    <a :href='"/edit?video=" + item.id' class='button'>Edit</a>
                    <a :href='"/play/download/"+item.filename_view' class='button'>View</a>
                    <button class='button is-danger' v-on:click='deleteVideo(item.title,item.id)'>Remove</button>
                </div>
            </td>
        </tr>
        <!-- clips -->
        <tr v-for='item in clips' v-if='showTypes.includes("clips")'>
            <td><span class='tag is-success'>Cut</span></td>
            <td v-if='item.description == ""'>{{ item.filename }}</td>
            <td v-else>{{ item.description }}</td>
            <td>
                <div class='tag' v-bind:class='{ "is-danger": item.status == "FAILED", "is-success": item.status == "COMPLETED", "is-warning": item.status == "INACTIVE" }'>{{ item.status }}</div>
            </td>
            <td>
                <div v-if="item.status=='COMPLETED'">
                    <span>{{item.taskFinishedAt}}</span>
                </div>
                <div v-else>
                    <span>{{ item.taskStartedAt }}</span>
                </div>
            </td>
            <td>
                <div class='buttons has-addons are-small'>
                    <!-- <a :href='"/edit?record=" + item.id' class='button'>Edit</a> -->
                    <a :href='"/files/cuts/"+item.filename' download class='button'>Download</a>
                    <a :href='"/play/video/"+item.filename' class='button'>View</a>
                    <button class='button is-danger' v-on:click='deleteClip(item.filename)'>Remove</button>
                </div>
            </td>
        </tr>
        <!-- records -->
        <tr v-for='item in records' v-if='showTypes.includes("records")'>
            <td>
                <div v-if="item.type==='audio'">
                    <span class='tag is-info'>Record(Audio)</span>
                </div>
                <div v-else>
                    <span class='tag is-danger'>Record(Video)</span>
                </div>
            </td>
            <td>{{ item.title }}</td>
            <td>
                <div class='tag' v-bind:class='{ "is-danger": item.status == "FAILED", "is-success": item.status == "COMPLETED", "is-warning": item.status == "INACTIVE" }'>{{ item.status }}</div>
            </td>
            <td>
                <div v-if="item.status==='COMPLETED'">
                    <span>{{ item.taskFinishedAt }}</span>
                </div>
                <div v-else>
                    <span>{{ item.taskStartedAt }}</span>
                </div>
            </td>
            <td>
                <div class='buttons has-addons are-small'>
                    <a :href='"/files/uploads/"+item.output_name' download class='button'>Download</a>
                    <a :href='"/edit?record=" + item.resultId' class='button'>Edit</a>
                    <a :href='"/play/record/"+item.output_name_view' class='button'>View</a>
                    <button class='button is-danger' v-on:click='deleteRecord(item.title, item.resultId)'>Remove</button>
                </div>
            </td>
        </tr>
    </table>
</div>

<script type='text/template' id='base-modal-template'>
    <div class='modal is-active' v-show='isShown'>
        <div class='modal-background'></div>
        <div class='modal-content'>
            <slot></slot>
        </div>
        <button class='modal-close is-large' v-on:click='close()'></button>
    </div>
</script>

<script type='text/template' id='upload-modal-template'>
    <bulma-modal v-bind:is-shown='dialogShown' v-on:close='$emit("close")'>
        <div class='box content'>
            <h2>Upload from local disk</h2>
            <div class='notification is-warning p2' v-show='errorMessage != null'>
                <button class='delete' v-on:click='errorMessage = null'></button>
                {{ errorMessage }}
            </div>
            <div class='field'>
                <div class='file has-name'>
                    <label class='file-label'>
                        <input class='file-input' type='file' v-on:change='setUploadFile' />
                        <span class='file-cta'>
                            <span class='file-label'>Choose file</span>
                        </span>
                        <span class='file-name'>{{ filename }}</span>
                    </label>
                </div>

            </div>
            <progress class='progress is-small' max='100' v-bind:value='progress' v-show='isStarted'></progress>
            <div class='buttons is-right'>
                <button class='button is-text' type='button' v-on:click='$emit("close")'>Cancel</button>
                <button class='button is-primary' type='button' v-on:click='submitUpload'>Upload</button>
            </div>
        </div>
    </bulma-modal>
</script>

<script type='text/template' id='yt-download-modal-template'>
    <bulma-modal v-bind:is-shown='mainDialog' v-on:close='$emit("close")'>
        <div class='box content yt-download-form'>
            <h2>Download from YT</h2>
            <div class='notification is-warning' v-show='errorMessage != null'>
                <button class='delete' v-on:click='errorMessage = null'></button>
                {{ errorMessage }}
            </div>
            <div v-show='stage == 1'>
                <div class='field'>
                    <label class='label'>Link to YT video</label>
                    <div class='control'>
                        <input class='input' type='text' v-model='downloadLink'>
                    </div>
                </div>
                <div class='buttons is-right'>
                    <button class='button is-text' type='button' v-on:click='$emit("close")'>Cancel</button>
                    <button class='button is-primary' type='button' v-on:click='fetchFormats'>Next</button>
                </div>
            </div>
            <div v-show='stage == 2'>
                <h3>Available formats</h3>
                <div class='field'>
                    <div class='control is-expanded'>
                    <div class='select is-fullwidth'>
                        <select v-model='selectedFormat'>
                            <option v-for="format in availableFormats" :value="format.format_id" :key='format.format_id'>
                                    {{ format.width }}&times;{{ format.height }} ({{ format.fps }} FPS)
                            </option>
                        </select>
                    </div>
                    </div>
                </div>
                <div class='buttons is-right'>
                    <button class='button is-text' type='button' v-on:click='$emit("close")'>Cancel</button>
                    <a class='button' type='button' v-on:click='submitDownload()'>Submit</a>
                </div>
            </div>
            <div v-show='stage == 3'>
                <progress class='progress is-primary' min='0' max='100' v-bind:value="progress">{{ progress }}</progress>
                <button class='button is-danger' v-on:click='cancelDownload()'>Cancel</button>
            </div>
            <div v-show='stage == 4'>
                <a class='button' v-bind:href='"/edit?video=" + videoId'>Edit video</a>
            </div>
        </div>
    </bulma-modal>
</script>

<script type='text/template' id='preview-modal-template'>
    <bulma-modal v-bind:is-shown='name != null' v-on:close='$emit("close")'>
        <div class='box content'>
            <h3>Preview</h3>
            <video style='width: 100%' v-bind:src='directLink == null ? "" : directLink' controls></video>
            <div class='field'>
                <div class='control'>
                    <label>Link to player</label>
                    <input ref='shareLinkInput' type='text' class='input' v-on:click='copyShareLink' v-bind:value='shareLink' readonly />
                </div>
            </div>
            <div class='buttons is-centered'>
                <button class='button' v-on:click='$emit("close")'>Close</button>
            </div>
        </div>
    </bulma-modal>
</script>

<div id='modals'>
    <upload-modal
        upload-url='/api/upload'
        v-bind:is-shown='uploadDialog'
        v-on:submit-upload='submitUpload'
        v-on:close='uploadDialog = false'
    ></upload-modal>
    <yt-download-modal
        v-bind:is-shown='ytDownloadDialog'
        v-on:download-completed='downloadCompleted'
        v-on:download-canceled='downloadCanceled'
        v-on:close='ytDownloadDialog = false'
    ></yt-download-modal>
    <preview-modal
        v-bind:name='previewClip'
        v-on:close='previewClip = null'
    ></preview-modal>
</div>
